{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
    <p class="my-5 display-4 text-center">Créer un compte</p>

<div class="col-8 m-auto">
    {{form(form)}}
</div>
{% endblock %}