{% extends 'base.html.twig' %}

{% block title %}Modifier le compte{% endblock %}

{% block body %}
    {# <p class="my-5 display-4">Modifier le compte</p> #}

{# <div class="col-8 m-auto">
    {{form(form)}}
</div> #}

<div class="page-content">
    <div class="form-v6-content">
        <div class="form-detail" >
            <h2>Modifier vos informations</h2>
            <div>{{form(form)}}</div>
        </div>
    </div>
</div>
{% endblock %}