{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
{% block img_bg %}
<div class="card bg-dark text-white ">
	<img src="{{asset('../../img/img_home.jpg')}}" class="card-img position-absolute divHome" alt="...">
	<div class="card-img-overlay"></div>
</div>
{% endblock %}
{% block body %}



{% endblock %}
