{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
{% block img_bg %}
<div class="card bg-dark text-white ">
	<img src="{{asset('../../img/img_home.jpg')}}" class="card-img position-absolute divHome" alt="...">
	<div class="card-img-overlay"></div>
</div>
{% endblock %}
{% block body %}

<div class="container text-white">
    <div class="jumbotron my-5 text-center shadow bg-secondary">
        <h1 class="display-3 text-danger">
            Accueil
        </h1>
        <p class="lead text-white">Bienvenue sur MDA</p>
        <hr class="my-4">
<h3>
		Objectif :

</h3>
<p>
Présenter un site Internet d’échanges Forum d’entraides pour les débutants du métier du Développeur Web.
=> Construire une Plateforme de Bibliothèque collaborative par session d'apprenants.
</p>
        <p>La Maison des Apprenants, un lieux d'entraide et de connaissance du code.</p>
<h3>Présentation :</h3>
<p>
Les apprenants des 4 coins de la France, se sont retrouvés autour un projet de soutenance et ont eu
la bonne idée de vouloir capitaliser des connaissances techniques acquises tout au long du parcours de formation afin de créer un lien d’échanges.
</p>
		<h3>
		Nos valeurs : 
		</h3>
		<p>Développons ensemble dans le respect du rythme de chacun. Et concentrons nos efforts sur
notre projet commun.</p>
<hr>
<div class="row flex-lg-row flex-xl-row flex-column justify-content-around mt-5 text-dark">
		<div class="border border-dark p-5 bg-dark shadow">
        <p>Partage</p>
        <p>Un coin de partage</p>
        </div>
		<div class="border border-dark p-5 bg-primary shadow">
        <p>Entraide</p>
        <p>Un coin d'entraide</p>
        </div>
		<div class="border border-dark p-5 bg-warning shadow">
        <p>Soutiens</p>
        <p>Un coin d'entraide</p>
        </div>
</div>
    </div>


        {% set name1 = {'name':'HTML/CSS', 'type': 'Front', 'img': asset('../../img/1.png') } %}
        {% set name2 = {'name':'JavaScript', 'type': 'Front', 'img': asset('../../img/2.png') } %}
        {% set name3 = {'name':'PHP', 'type': 'Back', 'img': asset('../../img/3.png') } %}
    {% set name = [name1, name2, name3] %}


<div class="card text-center shadow my-3 bg-dark">

{% for item in name %}
    
<div class=" card row flex-lg-row flex-xl-row flex-column justify-content-around mt-5 text-dark bg-secondary">
        <h2 class="card-title">
            {{item.name}}
        </h2>
		<h3>
		{{item.type}}
		</h3>
        <img src="{{ item.img }}" alt="">
    </div>
    
{% endfor %}

</div>

{% endblock %}
