

    <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
        <a href=" {{path('app_article')}} ">   
            <div class="card text-white card-has-bg click-col shadow" style="background-image:url('https://source.unsplash.com/600x900/?tech');">
                <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street" alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
                <div class="card-img-overlay d-flex flex-column align-items-center">
                    <div class="card-body">
                        <h4 class="card-title mt-0 mb-3 text-center">{{category.name}}</h4>
                        <img class="rounded-circle" src="{{category.image}}" alt="Generic placeholder image" style="max-width:250px">
                    </div>
                    <div class="card-footer">
                        <div class="media">
                            <div class="media-body">
                                <div class="my-0 text-white d-block">{{category.description}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>  
    </div>
            
 
