.wrapper {
  width: 100%;
}

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 99;
}

.align-items-stretch {
  -webkit-box-align: stretch !important
}


/* c'est content qui permet de prendre toute la hauteur pour la nav */
#content {
  width: 100%;
  padding: 0;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar2 {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar2>.container,
.navbar2>.container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}



#sidebar {
  min-width: 300px;
  max-width: 300px;
  background: #1d1919;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 99;
}

#sidebar.active {
  margin-left: -300px;
}

#sidebar .logo {
  display: block;
  width: 120px;
  height: 120px;
  margin: 0 auto;
}

#sidebar .logo span {
  display: block;
}

#sidebar ul.components {
  padding: 0;
}

#sidebar ul li {
  font-size: 16px;
}

#sidebar ul li>ul {
  margin-left: 10px;
}

#sidebar ul li>ul li {
  font-size: 14px;
}

#sidebar ul li a {
  padding: 10px 0;
  display: block;
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#sidebar ul li a:hover {
  color: #f8b739;
}

#sidebar ul li.active>a {
  background: transparent;
  color: #f8b739;
}

#sidebar.active {
  margin-left: 0;
}

@media (max-width: 991.98px) {
  #sidebar {
      margin-left: -300px;
  }
}


@media (max-width: 991.98px) {
  #sidebarCollapse span {
      display: none;
  }
}

.divHome {
  height: 55vh;
  width: 100%;
  z-index: -10;
  filter: brightness(50%);
}

.navSup {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.8;
  font-weight: normal;
  background: #fafafa;
  color: gray;
}