{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
<div class="page-content">
    <div class="form-v6-content">
        <div class="form-detail" >
            <h2>Modifier une catégorie</h2>
            <div>{{form(form)}}</div>
        </div>
    </div>
</div>
{% endblock %}
