{% extends 'base.html.twig' %}

{% block title %}Page des catégories{% endblock %}

{% block body %}

    <h1 class="my-5">Nos catégories</h1>

	<div class=" row flex-lg-row flex-xl-row flex-column">

		{% for categorie in categories %}

			{% include "partials/card.category.html.twig"  %}

		{% endfor %}

	</div>
{% endblock %}
