{% extends 'base.html.twig' %}

{% block title %}Erreur 404{% endblock %}

{% block body %}
    <div class="row flex-wrap text-center align-items-center">
		<div class="col-lg-6">
            <img height="400px" width="auto" src="{{asset('img/chuck-norris-error.jpg')}}" alt="Chuck Norris">
        </div>
		<div class="col-lg-6">
			<h1><b>Erreur 404</b></h1>
			<p>Il semblerait que cette page n'existe pas et que Chuck Norris ai décidé de monter la garde.</p>
			<p>Si j'étais vous, je ferai machine arrière...</p>
			<button>
				<a href="{{path("app_home")}}">Retour à l'accueil</a>
			</button>
		</div>
	</div>

{% endblock %}