{% extends 'base.html.twig' %}

{% block title %}Page des articles{% endblock %}

{% block body %}
	<img src=" {{category.banniere}} " width="auto" max-height="200px" style="margin-top:-30px;" alt="banniere">

	<div class=" row justify-content-center">

		{% for article in articles %}

			{% include "partials/card.article.html.twig"  %}

		{% endfor %}

	</div>
	
{% endblock %}

{% block footer %}{% endblock %}